body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #5db0c9e7, #1146a0);
    color: #e2e8f0;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.table .thead-dark th {
    background: linear-gradient(180deg, #5db0c9e7, #1146a0);
    border: none;
    padding: 20px;

}

.table td, .table th {

    border-top:none
}


.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.btn-primary
{
    background: linear-gradient(80deg, #5db0c9e7, #1145a089);
    border: none;
    width: 100%;
    padding: 1.3em;


}

.main-content {
    flex: 1;
    padding: 20px;
    background: rgba(43, 38, 112, 0.432);
    border-radius: 0px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.185);
    overflow-y: auto;
    height: 85vh;
    box-sizing: border-box;
}



.plugin-window {
    max-width: 80%;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: skeleton-loading 1.5s infinite linear;
}


.cards .loading {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    margin-bottom: 10px;
}

.card_image.loading {
    height: 100px;
    width: 100%;
}

.card_title.loading {
    height: 20px;
    width: 80%;
}

.card_description.loading {
    height: 15px;
    width: 90%;
}

@keyframes skeleton-loading {
    0% {
        background-color: rgba(255, 255, 255, 0.1);
    }

    50% {
        background-color: rgba(255, 255, 255, 0.2);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.plugin-table {
    width: 100%;
    border-collapse: collapse;
    background: linear-gradient(90deg, #5d8cc9e7, #0c306e22);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.738);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.plugin-table th,
.plugin-table td {
    padding: 14px 15px;
    border-bottom: 1px solid rgba(44, 62, 80, 0);
    color: white;
    text-decoration: none;
}

.plugin-table th {
    background: rgba(38, 15, 141, 0.8);
    color: white;
    text-align: left;
}

.plugin-table td img {
    width: 120px;
    height: auto;
    border-radius: 8px;
}

.plugin-table a {
  color:white;

}




#searchBox,
#filterBox {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(180deg, #5db0c911, #1145a022);
    border: none;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    height: 3em;
    transition: all 0.3s ease;
    outline: none;
    color: #ffffff;

}

#filterBox {
    width: 100%;
    height: 3em;
    cursor: pointer;
    background-color: rgba(18, 47, 100, 0.8);
    color: #ffffff;
}



#searchBox:focus {
    background-color: linear-gradient(145deg, rgba(55, 73, 187, 0.815), rgba(20, 67, 155, 0.832));
    box-shadow: 0 4px 10px rgba(30, 144, 255, 0.3);
    color: #ffffff;
    transition: all 0.3s ease;


}

#searchBox::placeholder {
    color: #ffffff; /* Color blanco para el texto del placeholder */
    opacity: 1; /* Asegura que el color sea totalmente visible */
}


#searchBox {
    flex-grow: 1;
    width: 100%;
    color: white;
}


.custom-navbar {
    background: linear-gradient(145deg, rgba(24, 91, 216, 0.429), rgba(52, 133, 240, 0.412));
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: fixed;
    border-bottom-right-radius: 10px;
    top: 10px;
    height: 5%;
    width: 95%;
    margin-left: 1%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;


}

.custom-navbar .navbar-brand {
    font-weight: bold;
    color: #e2e8f0;
}

.custom-navbar .nav-link {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.custom-navbar .nav-link:hover {
    color: #ffffff;
    background-color: rgba(52, 132, 240, 0.2);
    border-radius: 5px;
}

.custom-navbar .nav-link.active {
    color: #fff;
    border-bottom: 2px solid #0acad8;
}

.main-content {
    padding: 5em;
}

.card {

    border: none;
    border-radius: 20px;
}

.card-header {
    background: linear-gradient(90deg, #a8c9ff2c, #10143b18);
    border: none;
color:white;

}




h3 {
    padding: 2em;
    background: linear-gradient(90deg, #3b457100, #0389ff0e);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 40px;

}

h4{
padding: 2em;
}



.card-body {

    background: linear-gradient(30deg, #5db0c9e7, #1146a0);
    border: none;
    border-bottom-left-radius: 20px;

}

.card-body a {

   text-decoration:none;
   color:white;


}


/* Contenedor del cuadro de licencia */
.license-container {
    background: linear-gradient(180deg, #3b45715b, #0389ff00);
    padding: 6em;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.075);
    max-width: 1500px;
    margin: 20px auto;
    width: 90%;
    color: #e0eaff;
    line-height: 1.6;
    border-top-right-radius: 6px;
    border-top-width: 4px;
    border-bottom-width: 4px;
}

.license-container h2 {
    font-weight: bold;
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.license-container .last-update {
    font-size: 0.9rem;
    color: #a5b1d3;
}

.license-container h3  { 
    font-size: 1.1rem;
    color: #8ab4f8;
    margin-top: 20px;
}

.license-container ul {
    padding-left: 20px;
}

.license-container ul li {
    margin-bottom: 10px;
}

.license-container p {
    margin-bottom: 10px;
    color: #c9d4f7;
}

/* Selector de idioma */
.custom-select {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

.custom-select option {
    color: #000;
}