/* Estilos existentes y actualización para el menú */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9e5;
    font-size: 0.95em;
}

.undermax-title {
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #4b506ba6;
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    width: 220px; 
    background-color: #34495e;
    transition: all 0.3s ease;
}

.sidebar .nav-link {
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    transition: all 0.3s ease;
    background-color: #404850b9;
    padding-left: 30px;
    border-left: 4px solid transparent;
    display: flex;
    align-items: center;
}

.sidebar .nav-link i {
    margin-right: 10px;
    font-size: 18px; 
}

.sidebar .nav-link.active {
    background-color: #626e7ab4;
    color: #ffffff; 
    border-left: 4px solid #0acad8; 
}

.sidebar .nav-link:hover {
    background-color: rgb(71, 102, 121);
    color: #40c7f0; 
    text-decoration: none;
    padding-left: 35px; 
}

.main-content {
    margin-left: 320px; /* Ajustar el margen izquierdo para compensar el nuevo ancho del menú */
    padding: 20px;
    max-width: 75%;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}


/* Soporte */
.support-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}

.accordion .card-header {
    background-color: #f8f9fa;
}

.accordion .btn-link {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.accordion .btn-link:hover {
    text-decoration: underline;
    color: #0056b3;
}

.accordion .collapse {
    transition: height 0.3s ease;
}

.contact-methods h4 {
    margin-top: 20px;
    font-size: 1.3rem;
    color: #007bff;
}

.contact-methods p {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.contact-methods h4 i {
    margin-right: 10px;
}

.accordion .card-header h2 button i {
    margin-right: 10px;
}


.return-to-itchio {
    text-align: center;
    margin-bottom: 20px;
    background-color: #4b506ba6;
    padding: 12px 0;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.return-to-itchio a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease, transform 0.3s ease;
}

.return-to-itchio a:hover {
    color: #ffffff;
    text-decoration: none;
}

.return-to-itchio:hover {
    background-color: #45516d;
    transform: translateY(-2px);
}

.return-to-itchio i {
    margin-right: 8px;
}
