/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #5db0c9e7, #1146a0);
    color: #e2e8f0;
    font-size: 1rem;
    margin: 10px;
    padding: 20px;
    height: 100vh;
    display: flex;
    overflow: hidden;
}



/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    padding-top: 20px;
    background: linear-gradient(145deg, rgba(63, 78, 151, 0.384), rgba(21, 61, 112, 0.8));
    backdrop-filter: blur(25px);
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.3);
    z-index: 100;
    overflow-y: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.127);
}

.sidebar .nav-link {
    color: white;
    font-size: 16px;
    padding: 15px;
    margin: 5px 15px;
    display: flex;
    align-items: center;
    background: rgba(6, 130, 255, 0.356);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar .nav-link i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar .nav-link:hover {
    background: linear-gradient(145deg, rgba(63, 78, 151, 0.384), rgba(52, 132, 240, 0.8));
    padding-left: 35px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.sidebar .nav-link.active {
    background: linear-gradient(145deg, rgba(130, 147, 183, 0.752), rgba(52, 130, 240, 0.8));
    border-left: 4px solid #0acad8;
    padding-left: 35px;
}

/* Main Content Styles */
.main-content {
    flex: 1;
    padding: 20px;
    background: rgba(43, 38, 112, 0.432);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.185);
    margin-left: 260px; /* Adjust based on sidebar width */
    overflow-y: auto;
    height: auto;
    box-sizing: border-box;
}

/* Typography and Links */
.terms-text h2, .terms-text h3 {
    color: #fff;
}

.terms-text p, .terms-text ul, .terms-text li {
    font-size: 16px;
    line-height: 1.6;
    color: #cbd5e0;
}

.terms-text a {
    color: #0acad8;
    text-decoration: none;
}

.terms-text a:hover {
    text-decoration: underline;
    color: #ffffff;
}

/* Adjustments for Forms and Buttons */
select.custom-select, input[type="text"] {
    color: #333;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

select.custom-select:hover, input[type="text"]:hover {
    border-color: #bbbbbb;
}
