<div class="return-to-itchio">
    <a href="https://undermax.itch.io/" target="_self">
        <i class="fas fa-arrow-left"></i> Return to Itchio
    </a>
</div>
<div class="undermax-title">UNDERMAX</div>
<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/index.html">
                <i class="fas fa-list"></i> Plugins List
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/undermax/LicenceTerms.html">
                <i class="fas fa-file-contract"></i> License Terms
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/undermax/support.html">
                <i class="fas fa-life-ring"></i> Support
            </a> 
        </li>
    </ul>
</div>
